<style>
    #OrderDetails {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
        padding-top:25px; 
        width:35%; 
    }

        #OrderDetails tr:nth-child(odd) {
            background-color: #f2f2f2;
        }

        #OrderDetails tr:nth-child(even) {
            background-color: #ffffff;
        }
</style>

@model IEnumerable<RenderPartialViewWithModel.Models.OrderLineItem>    
 

<table id="OrderDetails" class="table" >
    <tr>
        <th>ProductID</th>
        <th>Product Name</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Discount</th>
    </tr>   

@foreach (var orderItem in Model)
{      
    <tr>
        <td>@orderItem.ProductID</td>
        <td>@orderItem.ProductName</td>
        <td>@orderItem.Qty</td>
        <td>@orderItem.Price</td>
        <td>@orderItem.Discount</td>
    </tr>
}

</table>